window {
    background-color: orchid;
}

widgetWelcome {
    border-spacing: 18px;
    margin: 36px;
    background-color: lime;
}

widgetWelcome.big > label {
    font-size: 1.4em;
    font-weight: bold;
}
